{% extends "layout.html" %}
{% block title %}회원 가입{% endblock %}
{% block body %}
    <h2>회원 가입</h2>
{% if error %}
    <div class=error>
        <strong>Error :</strong> {{ error }}
    </div>
{% endif %}
    <form action="" method=post>
        <dl>
            <dt>Username :</dt>
            <dd>
                <input type=text name=username size=30
                        value="{{ request.form.username }}">
            </dd>
            <dt>E-Mail :</dt>
            <dd>
                <input type=text name=email size=30
                        value="{{ request.form.email }}">
            </dd>
            <dt>비밀번호 :</dt>
            <dd><input type=password name=password size=30></dd>
            <dt>비밀번호 확인 :</dt>
            <dd><input type=password name=password2 size=30></dd>
        </dl>
        <div class=actions>
            <input type=submit value="회원가입">
        </div>
    </form>
{% endblock %}